*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0; 
    font-family: 'Anonymous Pro', 'roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(8, 6%, 20%);
    color: hsl(127, 70%, 60%);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1vh 1vw;
    margin: 3vh 2vw;
}

main .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
}
main form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: flex-start;
    font-size: 1.4em;
}
main h1{
    font-size: 3em;
}

main h2{
    font-size: 2.2em;
}

main h3{
    font-size: 2.3;
    color: hsl(127, 92%, 60%);
}

main button{
    width: 200px;
    height: 50px;
    border: 1px solid #25090F;
    background-color: #25090F;
    color: hsl(165, 70%, 70%);
    outline: none;
    text-align: center;
    font-weight: bold;
    margin-top: 4vh;
    align-self: center;
    font-size: 1.4em;
}

main div form button{
    align-self: center;
}

main button:active{
    border: 1px solid #25090F;
}

main .main-page{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .main-page > *{
    display: block;
}

main .question-score{
    color: hsl(165, 70%, 70%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2em;
}

main div .questionNumber{
    font-weight: bolder;
}

main .question-score >*{
    padding: 1vh;
}


@media all and (min-width: 800px){
    main{
        padding: 1vh 1vw;
    margin: 1vh 1vw;
    }
   main h1{
    font-size: 5em;
   }

   main h2{
       font-size: 5em;

   }
   main h3{

    font-size: 2em;
   }

   main form{
    font-size: 1.6em;
   }
}